<html>
    <head> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <LINK REL='stylesheet' TYPE='text/css' HREF='styles.css'>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.js"></script>
    </head>
    <title>chimken</title>
    <h1>
        <div class="loginheader"> 
            <div class="label">
                <b>chimken</b>
            </div>
        </div>
    </h1>
    <div class="container" style="background-color: rgb(42, 41, 47);" id="level 1">
        
        <button class="btn btn-outline-primary m-1" type="signIn" onClick="location.href='index.html'">Sign In</button>
        <button class="btn btn-outline-primary m-1" type="restaurants" onClick="location.href='restaurants.html'">Restaurants</button>
        <button class="btn btn-outline-primary m-1" type="members" onClick="location.href='members.html'">Members</button>
        <button class="btn btn-outline-primary m-1" type="popular" onClick="location.href='popular.html'">Popular</button>
        <button class="btn btn-outline-primary m-1" type="settings">Settings</button>
        <label class="form-label" for="search">Search:</label>
        <input class="js-search-form search-form" type="text" aria-label="Search" id="search" aria-describedby="inputGroup-sizing-sm">
        <button class="btn btn-outline-primary m-1" type="signUp" onClick="location.href='signup.html'">Sign Up Here!</button>
    </div>
    <div class="container" id="level 1">
        <p>Been to a restaurant? Want to let others know great or terrible it was? Let your friends know here!</p>
    </div>
    <div class="grid" data-infinite-scroll='{ "path": ".pagination__next", "append": ".post", "history": false }'>
    
    </div>
    <div class="grid">
        <div class="grid__item"></div>
      </div>
    
</html>