html, div{
    background-color: black;
    color: white;
}

.logintitle{
    vertical-align: center;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 400%;
}

header{
    background-color: rgb(42, 41, 47);
}

.container{
    padding-left: 0rem;
    padding-right: 0rem;
    overflow: hidden;
    max-width: max-content;
}

body{
    margin: auto;
    background-color: black;
}
p,h1,label{
    text-align: center;
    color: white;
}