.logintitle{
    background-color: black;
    color: white;
    text-align: center;
}

header{
    background-color: rgb(42, 41, 47);
    
}

.container-margin{
    overflow: hidden;
    
    
}

body{
    margin: auto;
    background-color: black;
}
p,h1,label{
    text-align: center;
    color: white;
}