html, div{
    background-color: black;
    color: white;
}

.loginheader{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    padding-left: 0rem;
    padding-right: 0rem;
    overflow: hidden;
    max-width: max-content;
}

body{
    margin: auto;
    background-color: black;
}
p,h1,label{
    text-align: center;
    color: white;
}